<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

    <!-- Jquery -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/atendimento/style.css">

    <title>Atendimento</title>
</head>
<body>
    
    <a href="#" id="voltar"><li class="fas fa-angle-left"></li></a>

    <div id="form-entrar-fila" class="card entrar">
        <div class="card-header">
            <img src="/img/udi.png" width="45px">
            <span>Atendimento</span>
        </div>
        <div class="card-body">
            <div class="titulo">Antes de falar com um dos nossos colaboradores, peço que preencha os seguintes capos.</div>
            <div class="campos" id="campos-nome">
                <label>Nome</label><br>
                <input type="text" id="nome">
            </div>
            <div class="campos" id="campos-whatsapp">
                <label>Whatsapp</label><br>
                <input type="text" id="nome">
            </div>
            <div class="campos" id="campos-email">
                <label>Email</label><br>
                <input type="text" id="nome">
            </div>
            <button>Entrar</button>
        </div>

    </div>
    
    
</body>
</html>