<%- include('./layouts/header') -%>

<a href="#" id="voltar"><li class="fas fa-angle-left"></li></a>

<main>
    <div id="login">
        <div id="img-background">
            <img src="/img/udi.png" width="150px">
            <h3>Seja bem vindo(a)</h3>
            <h7>Área do cliente, ficamos felizes em ter você aqui. Caso seja um cliente novo, peço que faça um cadastro</h7>
            <button>Cadastra-se</button>
        </div>
    </div>

    <div id="cadastro">

        
    </div>

</main>
<script src="/js/loginCliente.js"></script>

<%- include('./layouts/footer') -%>