<header>
    <div class="opcoes select   " style="border-top-left-radius: 14px;">
        <img src="/img/User.png" width="32px">
    </div>
    <div class="opcoes">
        <img src="/img/chat.png" width="32px">
    </div>
    <div class="opcoes">
        <img src="/img/Logout.png" width="32px">
    </div>
</header>
<section id="main">
</section>