<form action="/resgister" method="post">

    <div>
        <label>Nome</label><br>
        <input type="text" name="nome">
    </div>
    <br>
    <div>
        <label>cpf</label><br>
        <input type="text" name="cpf">
    </div>
    <br>
    <div>
        <label>password</label><br>
        <input type="password" name="senha">
    </div>
    <br>
    
    <button type="submit">Salvar</button>

</form>