    <%- include('./layouts/header') -%>
    
    <a href="#" id="voltar"><li class="fas fa-angle-left"></li></a>

    <main>
      
        
    </main>

    <!-- <script src="/socket.io/socket.io.js"></script>
    <script src="/sweetalert2/dist/sweetalert2.js"></script>
     -->
     <script src="/js/index.js"></script>
    

     <%- include('./layouts/footer') -%>