#card-mensage{
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px; 
    padding: 10px;
}

.box-incone{
    float: left;
    text-align: center;
    margin-right: 10px;

}

.box-informacao{
  
    float: left;

    .titulo{
        font-size: 0.9em;
        margin-top: 3px;
        font-weight: 600;
    }
    .mensagem{
        width: 230px;
        font-size: 0.8em;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

.sele{
    background: rgb(185, 185, 185);
}

.msg{

    &::after{
        content: '';
        padding: 7px;
        border-radius: 100px;
        background: red;
        right: 27px;
        top: 06px;
        position: absolute;
    }
}