.entrar{
    animation-name: entrarFila;
    animation-duration: 1s;
    animation-duration: 1s;
    overflow: hidden;
    animation-fill-mode: forwards;
}

@keyframes entrarFila {
    0%{
        height: 500px;
        
    }
    100%{
        height:41px;
        
    }
}